---
import "@fontsource/eagle-lake";
import longexpoImage from "assets/longexpo.jpg";
import { getImage } from "astro:assets";

const backgroundImage = await getImage({ src: longexpoImage });
---

<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>QVKY</title>
  </head>
  <body
    class="h-screen w-screen animate-pan bg-black bg-cover bg-no-repeat"
    style={`background-image: url('${backgroundImage.src}')`}
  >
    <main class="fixed inset-0 flex items-center justify-center">
      <h1
        class="w-full py-20 text-center text-8xl font-bold text-white/90 backdrop-brightness-50 backdrop-sepia"
      >
        QVKY
      </h1>
    </main>
    <footer
      class="fixed bottom-0 left-0 right-0 flex flex-wrap items-center justify-center gap-8 p-8"
    >
      <a
        class="whitespace-nowrap rounded p-4 text-lg font-bold text-white/90 hover:backdrop-brightness-50 hover:backdrop-sepia"
        href="https://kameraseuravastavalo.fi/qvky/">Lisätietoja</a
      >
      <a
        class="whitespace-nowrap rounded p-4 text-lg font-bold text-white/90 hover:backdrop-brightness-50 hover:backdrop-sepia"
        href="https://kameraseuravastavalo.fi/en/qvky/">More info</a
      >
    </footer>
  </body>
</html>
